<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.schemeway.plugins.schemescript"
   name="SchemeScript Plug-in"
   version="0.4.0"
   provider-name="The SchemeWay Project"
   class="org.schemeway.plugins.schemescript.SchemeScriptPlugin">

   <runtime>
      <library name="schemescript.jar">
         <export name="*"/>
      </library>
      <library name="kawa.jar">
         <export name="*"/>
      </library>
   </runtime>

   <requires>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.jface.text"/>
      <import plugin="org.eclipse.ui.editors"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.ui.ide"/>
      <import plugin="org.eclipse.ui.workbench.texteditor"/>
      <import plugin="org.eclipse.debug.core"/>
      <import plugin="org.eclipse.debug.ui"/>
      <import plugin="org.eclipse.ui.console"/>
      <import plugin="org.eclipse.ui.views"/>
      <import plugin="org.eclipse.help"/>
   </requires>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Scheme Editor"
            default="true"
            extensions="sch,scm,ss"
            icon="icons/scheme.gif"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="org.schemeway.plugins.schemescript.editor.SchemeEditor"
            id="org.schemeway.plugins.schemescript.editor.SchemeEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            name="Editing Scheme"
            description="Scheme Editor Context"
            id="Scheme Editing"
            parentId="org.eclipse.ui.textEditorScope">
      </context>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <activeKeyConfiguration
            keyConfigurationId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </activeKeyConfiguration>
      <category
            name="Scheme Editing"
            description="Scheme-specific editing commands"
            id="Scheme Editing">
      </category>
      <command
            name="Forward S-expression"
            description="Forward S-expression"
            category="Scheme Editing"
            categoryId="Scheme Editing"
            id="org.schemeway.plugins.schemescript.sexp.forward">
      </command>
      <command
            name="Select Forward S-expression"
            description="Select Forward S-expression"
            category="Scheme Editing"
            categoryId="Scheme Editing"
            id="org.schemeway.plugins.schemescript.sexp.select-forward">
      </command>
      <command
            name="Backward S-expression"
            category="Scheme Editing"
            description="Backward S-expression"
            categoryId="Scheme Editing"
            id="org.schemeway.plugins.schemescript.sexp.backward">
      </command>
      <command
            name="Select Backward S-expression"
            category="Scheme Editing"
            description="Select Backward S-expression"
            categoryId="Scheme Editing"
            id="org.schemeway.plugins.schemescript.sexp.select-backward">
      </command>
      <command
            name="Up S-expression"
            category="Scheme Editing"
            description="Moves to the start of the enclosing S-expression"
            categoryId="Scheme Editing"
            id="org.schemeway.plugins.schemescript.sexp.up">
      </command>
      <command
            name="Select Up S-expression"
            category="Scheme Editing"
            description="Selects the enclosing S-expression"
            categoryId="Scheme Editing"
            id="org.schemeway.plugins.schemescript.sexp.select-up">
      </command>
      <command
            name="Restore the previous selection"
            category="Scheme Editing"
            description="Restores the previous selection"
            categoryId="Scheme Editing"
            id="org.schemeway.plugins.schemescript.sexp.restore-selection">
      </command>
      <command
            name="Down S-expression"
            category="Scheme Editing"
            description="Enters the next S-expression"
            categoryId="Scheme Editing"
            id="org.schemeway.plugins.schemescript.sexp.down">
      </command>
      <command
            name="Swap S-expressions"
            category="Scheme Editing"
            description="Swaps the S-expressions around point"
            categoryId="Scheme Editing"
            id="org.schemeway.plugins.schemescript.sexp.swap">
      </command>
      <command
            name="Format Selection"
            category="Scheme Editing"
            description="Formats the selection"
            categoryId="Scheme Editing"
            id="org.schemeway.plugins.schemescript.sexp.format">
      </command>
      <command
            name="Chapter comment"
            category="Scheme Editing"
            description="Inserts a chapter-style comment"
            categoryId="Scheme Editing"
            id="org.schemeway.plugins.schemescript.comment.chapter">
      </command>
      <command
            name="Section comment"
            category="Scheme Editing"
            description="Inserts a section-style comment"
            categoryId="Scheme Editing"
            id="org.schemeway.plugins.schemescript.comment.section">
      </command>
      <command
            name="Toggle Comment"
            category="Scheme Editing"
            description="Comments/uncomments the selected lines"
            categoryId="Scheme Editing"
            id="org.schemeway.plugins.schemescript.comment.selection">
      </command>
      <command
            name="Scheme file header comment"
            category="Scheme Editing"
            description="Inserts a file header comment"
            categoryId="Scheme Editing"
            id="org.schemeway.plugins.schemescript.comment.header">
      </command>
      <command
            name="Mouse Copy"
            description="Copies the S-expression nears the mouse"
            category="Scheme Editing"
            categoryId="Scheme Editing"
            id="org.schemeway.plugins.schemescript.sexp.mousecopy">
      </command>
      <command
            name="Extended Mouse Copy"
            description="Copies the S-expression nears the mouse and the leading punctuation character, if any"
            category="Scheme Editing"
            categoryId="Scheme Editing"
            id="org.schemeway.plugins.schemescript.sexp.extended-mousecopy">
      </command>
      <command
            name="Eval Expression"
            description="Sends the previous S-expression to the interpreter"
            category="Scheme Editing"
            categoryId="Scheme Editing"
            id="org.schemeway.plugins.schemescript.eval.expression">
      </command>
      <command
            name="Eval Toplevel Definition"
            description="Sends the current definition to the interpreter"
            category="Scheme Editing"
            categoryId="Scheme Editing"
            id="org.schemeway.plugins.schemescript.eval.definition">
      </command>
      <command
            name="Load File in Interpreter"
            description="Loads the current file in the interpreter"
            category="Scheme Editing"
            categoryId="Scheme Editing"
            id="org.schemeway.plugins.schemescript.eval.load">
      </command>
      <command
            name="Fast Eval 0"
            description="Sends predefined code to the interpreter"
            category="Scheme Editing"
            categoryId="Scheme Editing"
            id="org.schemeway.plugins.schemescript.eval.fast0">
      </command>
      <command
            name="Fast Eval 1"
            description="Sends predefined code to the interpreter"
            category="Scheme Editing"
            categoryId="Scheme Editing"
            id="org.schemeway.plugins.schemescript.eval.fast1">
      </command>
      <command
            name="Fast Eval 2"
            description="Sends predefined code to the interpreter"
            category="Scheme Editing"
            categoryId="Scheme Editing"
            id="org.schemeway.plugins.schemescript.eval.fast2">
      </command>
      <command
            name="Fast Eval 3"
            description="Sends predefined code to the interpreter"
            category="Scheme Editing"
            categoryId="Scheme Editing"
            id="org.schemeway.plugins.schemescript.eval.fast3">
      </command>
      <command
            name="Fast Eval 4"
            description="Sends predefined code to the interpreter"
            category="Scheme Editing"
            categoryId="Scheme Editing"
            id="org.schemeway.plugins.schemescript.eval.fast4">
      </command>
      <command
            name="Fast Eval 5"
            description="Sends predefined code to the interpreter"
            category="Scheme Editing"
            categoryId="Scheme Editing"
            id="org.schemeway.plugins.schemescript.eval.fast5">
      </command>
      <command
            name="Fast Eval 6"
            description="Sends predefined code to the interpreter"
            category="Scheme Editing"
            categoryId="Scheme Editing"
            id="org.schemeway.plugins.schemescript.eval.fast6">
      </command>
      <command
            name="Fast Eval 7"
            description="Sends predefined code to the interpreter"
            category="Scheme Editing"
            categoryId="Scheme Editing"
            id="org.schemeway.plugins.schemescript.eval.fast7">
      </command>
      <command
            name="Fast Eval 8"
            description="Sends predefined code to the interpreter"
            category="Scheme Editing"
            categoryId="Scheme Editing"
            id="org.schemeway.plugins.schemescript.eval.fast8">
      </command>
      <command
            name="Fast Eval 9"
            description="Sends predefined code to the interpreter"
            category="Scheme Editing"
            categoryId="Scheme Editing"
            id="org.schemeway.plugins.schemescript.eval.fast9">
      </command>
      <command
            name="Start Interpreter"
            description="Starts the Scheme interpreter and show the console"
            category="Scheme Editing"
            categoryId="Scheme Editing"
            id="org.schemeway.plugins.schemescript.eval.start">
      </command>
      <command
            name="Restart Interpreter"
            description="Restarts the Scheme interpreter and show the console"
            category="Scheme Editing"
            categoryId="Scheme Editing"
            id="org.schemeway.plugins.schemescript.eval.restart">
      </command>
      <command
            name="Compress Spaces"
            description="Replaces all surrounding whitespaces by a single space"
            category="Scheme Editing"
            categoryId="Scheme Editing"
            id="org.schemeway.plugins.schemescript.format.compress">
      </command>
      <command
            name="Jump to Definition"
            description="Jump to symbol definition"
            category="Scheme Editing"
            categoryId="Scheme Editing"
            id="org.schemeway.plugins.schemescript.jump.definition">
      </command>
      <command
            name="Find Symbol"
            description="Finds a symbol in the dictionary"
            category="Scheme Editing"
            categoryId="Scheme Editing"
            id="org.schemeway.plugins.schemescript.dictionary.find">
      </command>
      <keyBinding
            commandId="org.schemeway.plugins.schemescript.sexp.forward"
            contextId="Scheme Editing"
            keySequence="ALT+CTRL+F"
            keyConfigurationId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
      <keyBinding
            commandId="org.schemeway.plugins.schemescript.sexp.select-forward"
            contextId="Scheme Editing"
            keySequence="ALT+CTRL+SHIFT+F"
            keyConfigurationId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
      <keyBinding
            commandId="org.schemeway.plugins.schemescript.sexp.backward"
            contextId="Scheme Editing"
            keySequence="ALT+CTRL+B"
            keyConfigurationId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
      <keyBinding
            commandId="org.schemeway.plugins.schemescript.sexp.select-backward"
            contextId="Scheme Editing"
            keySequence="ALT+CTRL+SHIFT+B"
            keyConfigurationId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
      <keyBinding
            commandId="org.schemeway.plugins.schemescript.sexp.up"
            contextId="Scheme Editing"
            keySequence="ALT+CTRL+U"
            keyConfigurationId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
      <keyBinding
            commandId="org.schemeway.plugins.schemescript.sexp.select-up"
            contextId="Scheme Editing"
            keySequence="ALT+CTRL+SHIFT+U"
            keyConfigurationId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
      <keyBinding
            commandId="org.schemeway.plugins.schemescript.sexp.select-up"
            contextId="Scheme Editing"
            keySequence="CTRL+SHIFT+ARROW_UP"
            keyConfigurationId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
      <keyBinding
            commandId="org.schemeway.plugins.schemescript.sexp.restore-selection"
            contextId="Scheme Editing"
            keySequence="CTRL+SHIFT+ARROW_DOWN"
            keyConfigurationId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
      <keyBinding
            commandId="org.schemeway.plugins.schemescript.sexp.down"
            contextId="Scheme Editing"
            keySequence="ALT+CTRL+ARROW_RIGHT"
            keyConfigurationId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
      <keyBinding
            commandId="org.schemeway.plugins.schemescript.sexp.swap"
            contextId="Scheme Editing"
            keySequence="ALT+CTRL+T"
            keyConfigurationId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
      <keyBinding
            commandId="org.schemeway.plugins.schemescript.sexp.format"
            contextId="Scheme Editing"
            keySequence="CTRL+SHIFT+F"
            keyConfigurationId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
      <keyBinding
            commandId="org.schemeway.plugins.schemescript.sexp.format"
            contextId="Scheme Editing"
            keySequence="CTRL+I"
            keyConfigurationId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
      <keyBinding
            commandId="org.schemeway.plugins.schemescript.sexp.format"
            contextId="Scheme Editing"
            keySequence="TAB"
            keyConfigurationId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
      <keyBinding
            commandId="org.schemeway.plugins.schemescript.comment.chapter"
            contextId="Scheme Editing"
            keySequence="ALT+C C"
            keyConfigurationId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
      <keyBinding
            commandId="org.schemeway.plugins.schemescript.comment.section"
            contextId="Scheme Editing"
            keySequence="ALT+C S"
            keyConfigurationId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
      <keyBinding
            commandId="org.schemeway.plugins.schemescript.comment.selection"
            contextId="Scheme Editing"
            keySequence="CTRL+/"
            keyConfigurationId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
      <keyBinding
            commandId="org.schemeway.plugins.schemescript.comment.header"
            contextId="Scheme Editing"
            keySequence="ALT+C H"
            keyConfigurationId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
      <keyBinding
            commandId="org.schemeway.plugins.schemescript.sexp.mousecopy"
            contextId="Scheme Editing"
            keySequence="ALT+CTRL+C"
            keyConfigurationId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
      <keyBinding
            commandId="org.schemeway.plugins.schemescript.sexp.extended-mousecopy"
            contextId="Scheme Editing"
            keySequence="ALT+CTRL+SHIFT+C"
            keyConfigurationId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
      <keyBinding
            commandId="org.schemeway.plugins.schemescript.eval.expression"
            contextId="Scheme Editing"
            keySequence="CTRL+CR"
            keyConfigurationId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
      <keyBinding
            commandId="org.schemeway.plugins.schemescript.eval.definition"
            contextId="Scheme Editing"
            keySequence="CTRL+SHIFT+CR"
            keyConfigurationId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
      <keyBinding
            commandId="org.schemeway.plugins.schemescript.eval.load"
            contextId="Scheme Editing"
            keySequence="CTRL+SHIFT+L"
            keyConfigurationId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
      <keyBinding
            commandId="org.schemeway.plugins.schemescript.eval.fast0"
            scope="org.eclipse.ui.globalScope"
            keySequence="ALT+K 0"
            keyConfigurationId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
      <keyBinding
            commandId="org.schemeway.plugins.schemescript.eval.fast1"
            scope="org.eclipse.ui.globalScope"
            keySequence="ALT+K 1"
            keyConfigurationId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
      <keyBinding
            commandId="org.schemeway.plugins.schemescript.eval.fast2"
            scope="org.eclipse.ui.globalScope"
            keySequence="ALT+K 2"
            keyConfigurationId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
      <keyBinding
            commandId="org.schemeway.plugins.schemescript.eval.fast3"
            scope="org.eclipse.ui.globalScope"
            keySequence="ALT+K 3"
            keyConfigurationId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
      <keyBinding
            commandId="org.schemeway.plugins.schemescript.eval.fast4"
            scope="org.eclipse.ui.globalScope"
            keySequence="ALT+K 4"
            keyConfigurationId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
      <keyBinding
            commandId="org.schemeway.plugins.schemescript.eval.fast5"
            scope="org.eclipse.ui.globalScope"
            keySequence="ALT+K 5"
            keyConfigurationId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
      <keyBinding
            commandId="org.schemeway.plugins.schemescript.eval.fast6"
            scope="org.eclipse.ui.globalScope"
            keySequence="ALT+K 6"
            keyConfigurationId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
      <keyBinding
            commandId="org.schemeway.plugins.schemescript.eval.fast7"
            scope="org.eclipse.ui.globalScope"
            keySequence="ALT+K 7"
            keyConfigurationId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
      <keyBinding
            commandId="org.schemeway.plugins.schemescript.eval.fast8"
            scope="org.eclipse.ui.globalScope"
            keySequence="ALT+K 8"
            keyConfigurationId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
      <keyBinding
            commandId="org.schemeway.plugins.schemescript.eval.fast9"
            scope="org.eclipse.ui.globalScope"
            keySequence="ALT+K 9"
            keyConfigurationId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
      <keyBinding
            commandId="org.schemeway.plugins.schemescript.eval.start"
            scope="org.eclipse.ui.globalScope"
            keySequence="F9"
            keyConfigurationId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
      <keyBinding
            commandId="org.schemeway.plugins.schemescript.eval.restart"
            scope="org.eclipse.ui.globalScope"
            keySequence="CTRL+F9"
            keyConfigurationId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
      <keyBinding
            commandId="org.schemeway.plugins.schemescript.format.compress"
            contextId="Scheme Editing"
            keySequence="ALT+CTRL+SPACE"
            keyConfigurationId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
      <keyBinding
            commandId="org.schemeway.plugins.schemescript.jump.definition"
            contextId="Scheme Editing"
            keySequence="F12"
            keyConfigurationId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
      <keyBinding
            commandId="org.schemeway.plugins.schemescript.dictionary.find"
            scope="org.eclipse.ui.globalScope"
            keySequence="CTRL+F12"
            keyConfigurationId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
   </extension>
   <extension
         id="org.schemeway.plugins.schemescript.preferences"
         name="Scheme"
         point="org.eclipse.ui.preferencePages">
      <page
            name="Scheme"
            class="org.schemeway.plugins.schemescript.preferences.SchemePreferences"
            id="org.schemeway.plugins.schemescript.preferences.scheme">
      </page>
      <page
            name="Comments"
            category="org.schemeway.plugins.schemescript.preferences.scheme"
            class="org.schemeway.plugins.schemescript.preferences.CommentPreferences"
            id="org.schemeway.plugins.schemescript.preferences.comments">
      </page>
      <page
            name="Appearance"
            category="org.schemeway.plugins.schemescript.preferences.scheme"
            class="org.schemeway.plugins.schemescript.preferences.ColorPreferences"
            id="org.schemeway.plugins.schemescript.preferences.colors">
      </page>
      <page
            name="Syntax"
            category="org.schemeway.plugins.schemescript.preferences.scheme"
            class="org.schemeway.plugins.schemescript.preferences.SyntaxPreferences"
            id="org.schemeway.plugins.schemescript.preferences.syntax">
      </page>
      <page
            name="Indentation"
            category="org.schemeway.plugins.schemescript.preferences.scheme"
            class="org.schemeway.plugins.schemescript.preferences.IndentationPreferences"
            id="org.schemeway.plugins.schemescript.preferences.indentation">
      </page>
      <page
            name="Interpreter"
            category="org.schemeway.plugins.schemescript.preferences.scheme"
            class="org.schemeway.plugins.schemescript.preferences.InterpreterPreferences"
            id="org.schemeway.plugins.schemescript.preferences.interpreter">
      </page>
      <page
            name="Fast Eval"
            category="org.schemeway.plugins.schemescript.preferences.interpreter"
            class="org.schemeway.plugins.schemescript.preferences.FastEvalPreferences"
            id="org.schemeway.plugins.schemescript.preferences.fasteval">
      </page>
      <page
            name="Lexical extensions"
            category="org.schemeway.plugins.schemescript.preferences.scheme"
            class="org.schemeway.plugins.schemescript.preferences.SchemeLexicalExtensionsPreferences"
            id="org.schemeway.plugins.schemescript.preferences.syntax-extensions">
      </page>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            primary="true"
            file="toc.xml"/>
   </extension>
   <extension
         point="org.eclipse.core.filebuffers.documentSetup">
      <participant
            class="org.schemeway.plugins.schemescript.editor.SchemeDocumentSetupParticipant"
            extensions="scm,ss,sch"/>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="Scheme"
            id="org.schemeway.plugins.schemescript.views"/>
      <view
            icon="icons/scheme.gif"
            class="org.schemeway.plugins.schemescript.views.DefinitionListView"
            category="org.schemeway.plugins.schemescript.views"
            name="Definitions"
            id="org.schemeway.plugins.schemescript.views.definitionList"/>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.schemeway.plugins.schemescript.SchemePerspective"
            icon="icons/schemeway.gif"
            name="Scheme"
            id="org.schemeway.plugins.schemescript.schemePerspective"/>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="org.schemeway.plugins.schemescript.interpreter.SchemeInterpreterDelegate"
            name="Scheme Interpreter"
            modes="run"
            id="org.schemeway.plugins.schemescript.interpreter"/>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="Scheme Action Set"
            visible="false"
            id="org.schemeway.plugins.schemescript.actionSet">
         <menu
               label="Scheme"
               id="org.schemeway.plugins.schemescript.schemeMenu">
            <groupMarker name="interpreter"/>         
            <separator name="additions"/>
        </menu>
         <action
         	   label="Fast Eval 0"
               definitionId="org.schemeway.plugins.schemescript.eval.fast0"
               class="org.schemeway.plugins.schemescript.action.FastEvalAction$FastEvalAction0"
               id="org.schemeway.plugins.schemescript.eval.fast0"/>
         <action
         	   label="Fast Eval 1"
               definitionId="org.schemeway.plugins.schemescript.eval.fast1"
               class="org.schemeway.plugins.schemescript.action.FastEvalAction$FastEvalAction1"
               id="org.schemeway.plugins.schemescript.eval.fast1"/>
         <action
         	   label="Fast Eval 2"
               definitionId="org.schemeway.plugins.schemescript.eval.fast2"
               class="org.schemeway.plugins.schemescript.action.FastEvalAction$FastEvalAction2"
               id="org.schemeway.plugins.schemescript.eval.fast2"/>
         <action
         	   label="Fast Eval 3"
               definitionId="org.schemeway.plugins.schemescript.eval.fast3"
               class="org.schemeway.plugins.schemescript.action.FastEvalAction$FastEvalAction3"
               id="org.schemeway.plugins.schemescript.eval.fast3"/>
         <action
         	   label="Fast Eval 4"
               definitionId="org.schemeway.plugins.schemescript.eval.fast4"
               class="org.schemeway.plugins.schemescript.action.FastEvalAction$FastEvalAction4"
               id="org.schemeway.plugins.schemescript.eval.fast4"/>
         <action
         	   label="Fast Eval 5"
               definitionId="org.schemeway.plugins.schemescript.eval.fast5"
               class="org.schemeway.plugins.schemescript.action.FastEvalAction$FastEvalAction5"
               id="org.schemeway.plugins.schemescript.eval.fast5"/>
         <action
         	   label="Fast Eval 6"
               definitionId="org.schemeway.plugins.schemescript.eval.fast6"
               class="org.schemeway.plugins.schemescript.action.FastEvalAction$FastEvalAction6"
               id="org.schemeway.plugins.schemescript.eval.fast6"/>
         <action
         	   label="Fast Eval 7"
               definitionId="org.schemeway.plugins.schemescript.eval.fast7"
               class="org.schemeway.plugins.schemescript.action.FastEvalAction$FastEvalAction7"
               id="org.schemeway.plugins.schemescript.eval.fast7"/>
         <action
         	   label="Fast Eval 8"
               definitionId="org.schemeway.plugins.schemescript.eval.fast8"
               class="org.schemeway.plugins.schemescript.action.FastEvalAction$FastEvalAction8"
               id="org.schemeway.plugins.schemescript.eval.fast8"/>
         <action
         	   label="Fast Eval 9"
               definitionId="org.schemeway.plugins.schemescript.eval.fast9"
               class="org.schemeway.plugins.schemescript.action.FastEvalAction$FastEvalAction9"
               id="org.schemeway.plugins.schemescript.eval.fast9"/>
         <action
               label="Find Scheme Symbol..."
               definitionId="org.schemeway.plugins.schemescript.dictionary.find"
               class="org.schemeway.plugins.schemescript.action.FindSymbolAction"
               menubarPath="org.schemeway.plugins.schemescript.schemeMenu/additions"
               id="org.schemeway.plugins.schemescript.FindSymbol"/>
         <action
               toolbarPath="Normal/additions"
               label="Restart Interpreter"
               definitionId="org.schemeway.plugins.schemescript.eval.restart"
               class="org.schemeway.plugins.schemescript.action.RestartInterpreterAction"
               icon="icons/restartScheme.gif"
               tooltip="Restart the Scheme interpreter"
               menubarPath="org.schemeway.plugins.schemescript.schemeMenu/interpreter"
               id="org.schemeway.plugins.schemescript.RestartInterpreter"/>
         <action
               toolbarPath="Normal/additions"
               label="Start Interpreter"
               definitionId="org.schemeway.plugins.schemescript.eval.start"
               class="org.schemeway.plugins.schemescript.action.StartInterpreterAction"
               icon="icons/startScheme.gif"
               tooltip="Start the Scheme interpreter if not already started"
               menubarPath="org.schemeway.plugins.schemescript.schemeMenu/interpreter"
               id="org.schemeway.plugins.schemescript.LaunchInterpreter"/>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="org.schemeway.plugins.schemescript.schemePerspective">
         <actionSet id="org.schemeway.plugins.schemescript.actionSet"/>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.debug.ui.consoleLineTrackers">
      <consoleLineTracker
            class="org.schemeway.plugins.schemescript.interpreter.SchemeErrorLineTracker"
            id="org.schemeway.plugins.schemescript.interpreter.consoleLineTracker"
            processType="scheme"/>
   </extension>
</plugin>
