body {
  font-family: Arial;
  font-size: 9pt;
}

td {
  font-family: Arial;
  font-size: 9pt;
}

.key {
  font-family: "Courier New";
  text-align: left;
}

img {
  margin: 10px;
}
.command {
  font-weight: bold;
  padding: 3px;
  border: 1px solid grey;
  text-align: center;
  vertical-align: center;
}

th {
   text-decoration: underline;
   text-align: center;
}

h1 {
   text-align: center;
   font-size: 16pt;
}

h2 {
	font-size: 14pt;
	border-bottom: 1px solid;
	font-family: Tahoma;
}

h3 {
	font-size: 12pt;
}